<div class="form-group edit-search">
    <label [ngClass]="{
            'erro-label-feedback': showError
        }">{{ label }}</label>

    <input #instanceRef [ngClass]="{
            'is-invalid': showError,
            'input-field': marginTop
        }" class="form-control form-control-sm" [formControl]="control" [attr.id]="name" placeholder="{{ placeholder }}" min="0" type="{{ type }}" (ngModelChange)="handlerChangeFunction($event)" (blur)="handlerBlur()" (focus)="onFocusListener()" listOptions
        onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null" (handlerTabEvent)="onListenerTabEvent($event)">

    <div *ngIf="showError" class="invalid-feedback">
        {{ message }}
        <span *ngIf="showCount == null ? false : showCount">
            {{ messageDigits }} {{ control?.value?.length }}
        </span>
    </div>
    <div class="wrapper-list-component">
        <div class="wrapper-datalist" *ngIf="showDataList">
            <ul class="list-group wrapper-list" *ngFor="let item of options; let i = index" (click)="handleSelected(item)">
                <li class="list-group-item">{{ item[labelValue] }}</li>
            </ul>
        </div>
    </div>
</div>