.mat-cell,.mat-header-cell {
    padding: 8px 10px 8px 0;
  }
  
  table {
      width: 100%;
    }
  
/*

    .mat-card {
        min-width: max-content;
        max-width: max-content;
    }
    
    .mat-card {
        min-width: 100% !important;
        max-width: 100% !important;
    }    
    */