<mat-card>



    <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
        style="background-color: rgb(21, 100, 19); text-align:center;"> {{ tipoEvento }}

        <div class="col">
            <div class="row">

                <div class="col-md-8">
                </div>


                <div class="col-md-2">
                    <div class="col text-right">
                        <button class="form-control btn btn-primary mr-2" (click)="ordenar()">Ordenar</button>
                    </div>
                </div>
                <div class="col-md-2">

                    <div class="col text-right">
                        <button class="form-control btn btn-primary mr-2" (click)="cancelarESair()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </h1>

</mat-card>



<h6 style="color: black">Ordem dos Resultados</h6>


<div style="height: 210px; overflow: auto;">
    <section class="table-container mat-elevation-z8" tabindex="0">
        <table mat-table #tableCamposFiltros [dataSource]="dataSourceTableFilpadPesquisarPor.data" class="mat-elevation-z8">




            <ng-container matColumnDef="selecionado">
                <th mat-header-cell *matHeaderCellDef> sel </th>
                <td mat-cell *matCellDef="let row ">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.selecionado"
                        (change)="clickCamposDaTabelaOrdem($event,row)"></mat-checkbox>


                </td>
            </ng-container>


            <ng-container matColumnDef="OrdemPesquisarPor">
                <th style="min-width: 20px" mat-header-cell *matHeaderCellDef> Ordem </th>
                <td mat-cell *matCellDef="let element ">

                    <input type="number" name="tfpcOrdemPesqpor" [(ngModel)]="element.tfpcOrdemPesqpor">

                </td>
            </ng-container>


            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Campo </th>
                <td mat-cell *matCellDef="let element"> {{element.tfpcDescricaoCustom}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayColumnsCamposIndices; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumnsCamposIndices;">
            </tr>
        </table>
    </section>
</div>