<div class="{{ getColSize(column) }}">
    <div class="main-container" >
        <div class="main-label" *ngIf="label">
             <label for="{{nome}}">{{ label }}:</label>
        </div>


        
        <div class="main-input">
            <input 
                [ngClass]="{'erro': showError }"
                class="gn-input"  id="{{ nome }}" type="{{ type }}"
                [textMask]=" mask ? mask : { mask: false }"
                placeholder="{{ placeholder }}" min="0"
                [formControl]="control">
        </div>
        <small *ngIf="showError && message"  class="message"> {{ message }} </small>
    </div>
</div>
        