@import "../../../../assets/style/color/_color.scss";
@import '../../../../assets/style/style-component-form.scss';
input[list] {
    background: $white;
    color: $blackPrimary
}

.wrapper {
    position: relative;
    .toggle-icon {
        cursor: pointer;
        position: absolute;
        right: 0px;
        border-left: 4px;
        border: 1px solid $ice;
        top: 0px;
        background-color: $white;
        padding: 4px 10px;
    }
}