.fundo {

    background-color: chocolate;

    border: 4px solid #12047a;
    //     background-size: cover;
    //     background-position: center;
    // min-height: 100dvh;
    //  display: flex;
    //flex-direction: column;
    //    align-items: center;
    padding: 2px;
}



.fundoNovos {

    background-color: rgb(176, 218, 128);

    border: 4px solid #12047a;
    padding: 2px;
}