<div class="loader" *ngIf="isProgress"></div>

<div class="main-container">
    <div class="row" fxLayoutGap="10px" fxLayoutGap.xs="2px" fxLayoutGap.sm="2px">
        <button class="btn-header btn-primary" (click)="actionNew()" [disabled]="isDisableButtonNew"><span
                class="fa fa-plus"></span>
            Novo
        </button>

        <button class="btn-header btn-update" (click)="actionUpdate()" [disabled]="isDisableButtonUpdate"><span
                class="fa fa-edit"></span>
            Alterar
        </button>

        <button class="btn-header btn-primary" (click)="actionSave()" [disabled]="isDisableButtonSave"><span
                class="fa fa-check"></span>
            Gravar
        </button>

        <button class="btn-header btn-accent" (click)="actionCancel()" [disabled]="isDisableButtonCancel"><span
                class="fa fa-eject"></span>
            Cancelar
        </button>

        <button class="btn-header btn-warn" (click)="actionDelete()" [disabled]="isDisableButtonDelete"><span
                class="fa fa-trash"></span>
            Excluir
        </button>
    </div>
</div>

<mat-tab-group [disableRipple]="true" [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="onLitenerTabEventClick($event)">

    <mat-tab label="Consulta">
        <app-search-person #search (instanceHandleSearch)="instanceSearchComponent = $event"
            (idClientHandler)="onDoubleClickItemTable()" (selectClientHandler)="onItemTableClientSelet($event)"></app-search-person>
    </mat-tab>
    <mat-tab label="Cadastro">
        <app-register-person (instanceHandleRegister)="instanceRegisterComponent = $event"></app-register-person>
    </mat-tab>
    <mat-tab label="Relatórios">
        relatorios
    </mat-tab>
</mat-tab-group>